<ion-pane>
    <ion-content class="padding">
        <h1 class="text-center">Abalobi Help</h1>
        <button class="button button-block button-positive"
        onclick="window.open('http://abalobi.info/getting-started/', '_system', 'location=yes'); return false;">
            <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;How to get started
        </button>
        <ul class="list">
            <p>
                If you are having trouble with Abalobi, please do one of the following:
            </p>

            <li class="item">
                (a) Contact your local Abalobi Fisher Assistant
            </li>
            <li class="item">
                (b) Send an e-mail to support@abalobi.info
            </li>
            <li class="item">
                (c) Send an sms to: +2787240508610041
            </li>
        </ul>
    </ion-content>
</ion-pane>
