<ion-pane ng-controller="help_mainCtrl">
    <ion-content class="padding">
        <h1 class="text-center" style="padding-bottom: 10px">Abalobi Help</h1>

        <form style="height: 60%;">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        {{"ISSUE" | translate}}
                    </div>
                    <select ng-model="selected.text">
                        <option ng-repeat="issue in this.issues">
                            {{ issue | translate }}
                        </option>
                    </select>
                </label>

            </div>

            <textarea id='description' class="issue-textarea"
                      placeholder="{{ 'ISSUE_PLACEHOLDER' | translate }}" ng-model="desc.text"></textarea>

            <input style="width: 100%;" class="button padding button-energized abalobi-button-2"
                   type="submit"
                   value="Submit"
                   ng-click="this.sendIssue()">
        </form>
    </ion-content>
</ion-pane>
