<ion-pane>
    <ion-content class="padding">
        <h1 class="text-center">Abalobi Help</h1>
        <button class="button button-block button-positive"
        onclick="window.open('http://abalobi.info/getting-started/', '_system', 'location=yes'); return false;">
            <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;{{"HELP_SITE_BUTTON" | translate}}
        </button>
        <ul class="list">
            <p>
                {{"HELP_SCREEN_HEADER" | translate}}
            </p>

            <li class="item wrap-please">
                {{"HELP_OPTION_1" | translate}}
            </li>
            <li class="item wrap-please">
                {{"HELP_OPTION_2" | translate}}
            </li>
            <li class="item wrap-please">
                {{"HELP_OPTION_3" | translate}}
            </li>
        </ul>
    </ion-content>
</ion-pane>
