<ion-content class="padding">
  <div style="margin-top: 50px;">
    <h1 class="text-center">Logbook Settings</h1>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">{{"SETTINGS_USERNAME" | translate}}</span>
        <input type="text" ng-model="data.username">
      </label>
      <label class="item item-input">
        <span class="input-label">{{"SETTINGS_PASSWORD" | translate}}</span>
        <input type="password" ng-model="data.password">
      </label>
      <label class="item item-input">
        <span class="input-label">{{"SETTINGS_URL" | translate}}</span>
        <input type="text" value="http://abalobi-fisher.appspot.com" ng-model="data.url">
      </label>
    </div>
    <button class="button button-block padding button-calm cs-button-10" ng-click="buttonClick()">
      {{"ABLB_SAVE_SETTINGS_BUTTON" | translate}}</button>
  </div>




</ion-content>
